{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}


		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Add Blog</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Add Blog
										</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
                    <div class="add-blog card-box p-4 bg-white border-radius-4 box-shadow mb-30">
                        <div class="">
                        <h4 class="title">{% if edit %}
                            Edit
                            {% else %}
                            Add
                            {% endif %}  Blog</h4>

                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Title</label>
                                        <div class="col-sm-12 ">
                                            <input class="form-control" type="text" name="title" placeholder="title" {% if form.title.value %}
                                            value="{{ form.title.value }}"
                                            {% endif %} >
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Description</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" type="text" name="description" placeholder="Description" {% if form.description.value %}
                                            value="{{ form.description.value }}"
                                            {% endif %} >
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        {% if edit and form.thumbnail.value %}
                                        <p>Thumbnail is : <a href="{{ form.thumbnail.value.url }}" class="text-blue">Thumbnail</a></p>
                                        {% endif %}
                                        <label>Thumbnail</label>

                                        <input
                                            type="file"
                                            name="thumbnail"
                                            class="form-control-file form-control"

                                        />
                                        {% if edit and form.thumbnail.value %}

                                        <a class="btn btn-danger p-1 mt-15" href="{% url 'admin_panel:delete thumbnail post' form.instance.slug %}">Remove Thumbnail</a>
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Category</label>
                                        <div class="col-sm-12 ">


                                            <select class="custom-select col-12" name="category">

                                                {% for category in categories %}
                                             <option value="{{ category.id }}" name="{{ category }}" {% if form.category.value == category.id %}selected
                                                {% endif %} >{{ category.text }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12 ">
                                        <label class="col-sm-12 col-md-2 col-form-label">Body</label>
                                        <div class="col-sm-12 ">


                                    {{ form.body }}
                                            {{ form.media }}
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>

				</div>

			</div>
		</div>
{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}







