{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}


		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Add Blog</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Add Blog
										</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
                    <div class="add-blog card-box p-4 bg-white border-radius-4 box-shadow mb-30">
                        <div class="">
                            <h4 class="title">Add Blog</h4>
                            <form action="">
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Title</label>
                                        <div class="col-sm-12 ">
                                            <input class="form-control" type="text" placeholder="title">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Description</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" type="text" placeholder="Description">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label>Thumbnail</label>
                                        <input
                                            type="file"
                                            class="form-control-file form-control"
                                        />
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Category</label>
                                        <div class="col-sm-12 ">
                                            <select class="custom-select col-12">

                                                <option value="art">art</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="col-sm-12 col-md-2 col-form-label">Body</label>
                                        <div class="col-sm-12 ">
                                            <!-- ck editor form -->
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>

				</div>
				<div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div>
			</div>
		</div>
{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}







