{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}


		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									{% if edit %}
									<h4>Edit User</h4>
                                     {% else %}
                                        <h4>Add User</h4>
									{% endif %}
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>

                                       {% if edit %}
                                        <li class="breadcrumb-item active" aria-current="page">
											Edit User
										</li>

                                     {% else %}
                                        	<li class="breadcrumb-item active" aria-current="page">
											Add User
										</li>
									{% endif %}
									</ol>
								</nav>
							</div>

						</div>
					</div>
					<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
						<div class="clearfix">
							<div class="pull-left">
								{% if edit %}
                                    <h4 class="text-blue h4">Edit User</h4>
                                    {% else %}
                                    <h4 class="text-blue h4">Add User</h4>
								{% endif %}
							</div>
						</div>
						<form class="row" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12  col-form-label">First Name</label>
								<div class="col-sm-12">
									<input
										class="form-control"
										type="text"
                                        name="first_name"
                                        {% if form.first_name.value %}
                                        value="{{ form.first_name.value }}"
                                        {% endif %}
										placeholder="Enter The First Name"
									/>
								</div>
							</div>
							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Last Name</label>
								<div class="col-sm-12">
									<input
										class="form-control"
										type="text"
                                        name="last_name"
                                        {% if form.last_name.value %}
                                        value="{{ form.last_name.value }}"
                                        {% endif %}
										placeholder="Enter The Last Name"
									/>
								</div>
							</div>

							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">User Name</label>
								<div class="col-sm-12">
									<input
										class="form-control"
										type="text"
                                        name="username"
                                        {% if form.username.value %}
                                        value="{{ form.username.value }}"
                                        {% endif %}
										placeholder="En
										ter The Username"
									/>
                                    {{ form.username.errors }}
								</div>
							</div>

							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Email</label>
								<div class="col-sm-12">
									<input
										class="form-control"
										type="email"
                                        name="email"
                                        {% if form.email.value %}
                                        value="{{ form.email.value }}"
                                        {% endif %}
                                        placeholder="Enter The Email"
									/>
                                    {{ form.email.errors }}
								</div>
							</div>

                        							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Job</label>
								<div class="col-sm-12">
									<input
										class="form-control"
										type="text"
                                        name="job"
                                        {% if form.job.value %}
                                        value="{{ form.job.value }}"
                                        {% endif %}
                                        placeholder="Enter The job"
									/>
                                    {{ form.job.errors }}
								</div>
							</div>


							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label"
									>Password</label
								>
								<div class="col-sm-12 ">
									<input
										class="form-control"
                                        placeholder="Enter The Password"
                                        name="password"
										type="password"

									/>
								</div>
							</div>



							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Position</label>
								<div class="col-sm-12 ">

									<select class="custom-select col-12" name="position">
                                    <option value="1">Manager</option>

										<option value="3">User</option>

										<option value="2" >Admin</option>

									</select>
								</div>
							</div>

							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Profile</label>
								<div class="col-sm-12 ">
								<input
									type="file"
									class="form-control-file form-control "
                                    name="profile"
								/>
							</div>
						</div>
                        							<div class="form-group col-md-6 col-lg-4">
								<label class="col-sm-12 col-form-label">Bio</label>
								<div class="col-sm-12 ">
								<textarea name="bio"


								 class="form-control">{% if form.bio.value %}{{ form.bio.value }}{% endif %}</textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-primary align-self-center" style="height: 3rem;">Submit</button>

						</form>
					</div>
				</div>

			</div>
{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}



