{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}

{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}



