{% extends 'parent/admin_base.html' %}

{% load static %}





{% block content %}
<div class="main-container">
<div class="remove-container bg-white border-radius-4 position-absolute p-3 border hid" style="    z-index: 2;
    border-color:black !important;">
    <h4 class="font-20">Are You Sure To Delete This Post?</h4>
    <button type="button" class="btn btn-primary no-btn">No</button>
    <a href="{% url 'admin_panel:delete post' post.slug %}" class="btn btn-danger">Yes</a>
</div>
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Blog Detail</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Blog Detail
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="blog-wrap">
						<div class=" pd-0">
							<div class="row">
								<div class="col-md-8 col-sm-12">

									<div class="blog-detail card-box overflow-hidden mb-30">

										{% if post.thumbnail %}
										<div class="blog-img">
											<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" />
										</div>
										{% endif %}
										<div class="blog-caption">
                                            <a href="{% url 'admin_panel:edit post' post.slug %}" class="btn btn-sm btn-info">Edit</a>

                                            <button class="btn btn-sm btn-danger rm-post">Remove</button>
											<h4 class="mb-10 mt-4">
                                                {{ post.title}}
											</h4>
											<p>
                                                {{ post.description }}
											</p>
                                            {{post.body|safe}}
										</div>
									</div>
{% include 'partials/comments.html' %}
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="card-box mb-30">
										<h5 class="pd-20 h5 mb-0">Categories</h5>
										<div class="list-group">

{% for category in categories %}
<a
												href="{% url 'admin_panel:post category' category %}"
												class="list-group-item d-flex align-items-center justify-content-between"
												>{{ category }}
												<span class="badge badge-primary badge-pill">{{ category.posts.count }}</span></a
											>
{% endfor %}

										</div>
									</div>
									<div class="card-box mb-30">
										<h5 class="pd-20 h5 mb-0">Similar Posts</h5>
										<div class="latest-post">
											<ul>
                                                {% for post in similar_posts %}
                                                <li>
													<h4>
														<a href="{% url 'admin_panel:blog detail' post.slug %}"
															>{{ post.title }}</a
														>
													</h4>
													<span>{{ post.author.get_full_name }}</span>
												</li>
                                                {% endfor %}

											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
{% endblock %}



{% block scripts %}

        <script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'vendors/scripts/post-detail.js' %}"></script>
		<!-- Google Tag Manager (noscript) -->
    		{% if messages %}
		<script src="{% static 'vendors/scripts/izitoast.js' %}"></script>
    <script type="text/javascript">
         window.addEventListener('load', () => {
             {% for message in messages %}
        iziToast.{{ message.tags }}({
                theme: 'dark',
messageColor: '#1a1a1a',
            color: '#0eb020',
    message: '{{message}}'
});
        {% endfor %}
         })



</script>
		{% endif %}
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>

{% endblock %}




