{% extends 'parent/admin_base.html' %}

{% load static %}


{% block content %}



<div class="main-container">
			<div class="pd-ltr-20 height-100-p xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">

									{% if category %}

                                        <h4>{{ category }}'s Blogs</h4>
{% else %}
                                        <h4>Blog</h4>
									{% endif %}
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										{% if category %}
<li class="breadcrumb-item active" aria-current="page">
											{{ category }}'s Blog
										</li>
                                            {% else %}
                                            <li class="breadcrumb-item active" aria-current="page">
											Blog
										</li>
										{% endif %}
									</ol>
								</nav>

							</div>
						</div>
					</div>
					<div class="blog-wrap">
						<div class="pd-0">
							<div class="row">
								<div class="col-md-8 col-sm-12">
									<div class="blog-list">
										<ul>
											{% if blogs %}
                                                {% for blog in blogs %}
                                                <li>
												<div class="row no-gutters">

													<div class="col-lg-4 col-md-12 col-sm-12">
														<div class="blog-img">
															<img
																src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% else %}/images/article-thumbnail/default.png{% endif %}"
																alt="{{ blog.title }}"
																class="bg_img"
															/>
														</div>
													</div>



													<div class="col-lg-8 col-md-12 col-sm-12">
														<div class="blog-caption">
															<h4>
																<a href="{% url 'admin_panel:blog detail' blog.slug %}"
																	>{{ blog.title }}</a
																>
															</h4>
															<div class="blog-by">
																<p>
																	{{ blog.description|truncatewords:30 }}
																</p>
																<div class="pt-10">
																	<a href="{% url 'admin_panel:blog detail' blog.slug %}" class="btn btn-outline-primary"
																		>Read More</a
																	>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>
                                                {% endfor %}

                                                {% else %}
                                                <p>There is no post</p>
											{% endif %}

										</ul>
									</div>
									{% include 'partials/pagination_admin.html' with page=blogs %}
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="card-box mb-30">
										<h5 class="pd-20 h5 mb-0">Categories</h5>
										<div class="list-group">
                                    {% for category in categories %}
                                    <a
												href="{% url 'admin_panel:post category' category %}"
												class="list-group-item d-flex align-items-center justify-content-between"
												>{{ category }}
												<span class="badge badge-primary badge-pill">{{ category.posts.count }}</span></a
											>
                                    {% endfor %}

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		{% if messages %}
		<script src="{% static 'vendors/scripts/izitoast.js' %}"></script>
    <script type="text/javascript">
         window.addEventListener('load', () => {
             {% for message in messages %}
        iziToast.{{ message.tags }}({
                theme: 'dark',
messageColor: '#1a1a1a',
            color: '#0eb020',
    message: '{{message}}'
});
        {% endfor %}
         })



</script>
		{% endif %}
{% endblock %}




