{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}

<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Categories</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Categories
										</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
                    <div class="card-box">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">title</th>
                                <th scope="col">description</th>
                                <th scope="col">user</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th scope="row">art</th>
                                <th scope="row">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, sapiente!</th>
                                <th scope="row">mahdi</th>
                            </tr>

                            <tr>
                                <th scope="row">1</th>
                                <th scope="row">art</th>
                                <th scope="row">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, sapiente!</th>
                                <th scope="row">mahdi</th>
                            </tr>

                            <tr>
                                <th scope="row">1</th>
                                <th scope="row">art</th>
                                <th scope="row">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, sapiente!</th>
                                <th scope="row">mahdi</th>
                            </tr>
                            </tbody>
                        </table>

                    </div>
					<div class="pd-20 bg-white border-radius-4 box-shadow mb-30 card-box">
                        <div class="title">
                            <h4>Add Category</h4>
                        </div>
                        <form class="row">
                            <div class="form-group col-md-6 ">
								<label class="col-sm-12  col-form-label">Title</label>
								<div>
									<input
										class="form-control"
										type="text"
										placeholder="Johnny Brown"
									/>
								</div>
							</div>
                            <div class="form-group  col-md-6">
                                <label class="col-sm-12  col-form-label">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary ml-3">Submit</button>
                        </form>
                    </div>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://github.com/dropways" target="_blank"
						>Ankit Hingarajiya</a
					>
				</div>
			</div>
		</div>


{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}



