{% extends 'parent/admin_base.html' %}
{% load static %}



{% block content %}
	<div class="main-container">
			<div class="xs-pd-20-10 pd-ltr-20">
				<div class="title pb-20">
					<h2 class="h3 mb-0">Admin Panel</h2>
				</div>

				<div class="row pb-10">
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{ users_count }}</div>
									<div class="font-14 text-secondary weight-500">
										Number of Users
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#00eccf">
										<i class="icon-copy dw dw-calendar1"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{ blogs.count }}</div>
									<div class="font-14 text-secondary weight-500">
										Number of Blogs
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#ff5b5b">
										<span class="icon-copy ti-heart"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{ comments_count }}</div>
									<div class="font-14 text-secondary weight-500">
										Number of Comments
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon">
										<i
											class="icon-copy fa fa-stethoscope"
											aria-hidden="true"
										></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{admins_count}}</div>
									<div class="font-14 text-secondary weight-500">Number of Admins</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#09cc06">
										<i class="icon-copy fa fa-money" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row pb-10">
					<div class="col-md-8 mb-20">
						<div class="card-box height-100-p pd-20">
							<div
								class="d-flex flex-wrap justify-content-between align-items-center pb-0 pb-md-3"
							>
								<div class="h5 mb-md-0">Mock chart</div>
								<div class="form-group mb-md-0">
									<select class="form-control form-control-sm selectpicker">
										<option value="">Last Week</option>
										<option value="">Last Month</option>
										<option value="">Last 6 Month</option>
										<option value="">Last 1 year</option>
									</select>
								</div>
							</div>
							<div id="activities-chart"></div>
						</div>
					</div>
					<div class="col-md-4 mb-20">
						<div
							class="card-box min-height-200px pd-20 mb-20"
							data-bgcolor="#455a64"
						>
							<div class="d-flex justify-content-between pb-20 text-white">
								<div class="icon h1 text-white">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<!-- <i class="icon-copy fa fa-stethoscope" aria-hidden="true"></i> -->
								</div>
								<div class="font-14 text-right">
									<div><i class="icon-copy ion-arrow-up-c"></i> 2.69%</div>
									<div class="font-12">Since last month</div>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-end">
								<div class="text-white">
									<div class="font-14">Appointment</div>
									<div class="font-24 weight-500">1865</div>
								</div>
								<div class="max-width-150">
									<div id="appointment-chart"></div>
								</div>
							</div>
						</div>
						<div class="card-box min-height-200px pd-20" data-bgcolor="#265ed7">
							<div class="d-flex justify-content-between pb-20 text-white">
								<div class="icon h1 text-white">
									<i class="fa fa-stethoscope" aria-hidden="true"></i>
								</div>
								<div class="font-14 text-right">
									<div><i class="icon-copy ion-arrow-down-c"></i> fake data</div>
									<div class="font-12">Since last month</div>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-end">
								<div class="text-white">
									<div class="font-14">Surgery</div>
									<div class="font-24 weight-500">fake data</div>
								</div>
								<div class="max-width-150">
									<div id="surgery-chart"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-20">
						<div class="card-box height-100-p pd-20 min-height-200px">
							<div class="d-flex justify-content-between pb-10">
								<div class="h5 mb-0">Most Active Users</div>

							</div>
							<div class="user-list">
								<ul>
                                    {% for most_active_user in most_active_users %}
                                    <li class="d-flex align-items-center justify-content-between">
										<div class="name-avatar d-flex align-items-center pr-2">
											<div class="avatar mr-2 flex-shrink-0">
												{% if most_active_user.profile %}
												<img
													src="{{most_active_user.profile.url}}"
													class="border-radius-100 box-shadow"
													width="50"
													height="50"
                                                    style="height:50px"
													alt=""
												/>
                                                    {% else %}
                                                    <img
													src="/images/users_avatar/user-avatar.jpg"
													class="border-radius-100 box-shadow"
													width="50"
													height="50"
                                                    style="height: 50px;"
													alt=""
												/>
												{% endif %}
											</div>
											<div class="txt">
												<span
													class="badge badge-pill badge-sm"
													data-bgcolor="#e7ebf5"
													data-color="#265ed7"
													>{{ most_active_user.num_posts }}</span
												>
												<div class="font-14 weight-600">{{ most_active_user.get_full_name }}</div>
												<div class="font-12 weight-500" data-color="#b2b1b6">
                                                    {% if most_active_user.is_superuser %}
                                                        Manager
                                                    {% elif most_active_user.is_staff %}
                                                        Admin
                                                        {% else %}
                                                        User
                                                    {% endif %}
												</div>
											</div>
										</div>
										<div class="cta flex-shrink-0">
											<a href="{% url 'admin_panel:user_page' most_active_user.username %}" class="btn btn-sm btn-outline-primary"
												>Profile</a
											>
										</div>
									</li>
                                    {% endfor %}



								</ul>
							</div>
						</div>
					</div>
					<div class=" col-md-6 mb-20">
						<div class="card-box height-100-p pd-20 min-height-200px">
				<div class="h5 pd-20 mb-0">Recent Blogs</div>

                        <div class="user-list">
								<ul>
                                    {% for blog in blogs|slice:5 %}
                                    <li class="d-flex align-items-center justify-content-between">
										<div class="name-avatar d-flex align-items-center pr-2">
											<div class="avatar mr-2 flex-shrink-0">

												<img
													src="{% if blog.thumbnail %}{{blog.thumbnail.url}}{% else %}/images/article-thumbnail/default.png{% endif %}"
													class="border-radius-100 box-shadow"
													width="50"
													height="50"
                                                    style="height:50px"
													alt=""
												/>

											</div>
											<div class="txt">

												<div class="font-14 weight-600">{{ blog.title }}</div>
												<div class="font-12 weight-500" data-color="#b2b1b6">
                                                    {{ blog.author.get_full_name }}
												</div>
											</div>
										</div>
										<div class="cta flex-shrink-0">
											<a href="{% url 'admin_panel:blog detail' blog.slug %}" class="btn btn-sm btn-outline-primary"
												>See</a
											>
										</div>
									</li>
                                    {% endfor %}



								</ul>
							</div>
						</div>
					</div>

				</div>






			</div>
		</div>

{% endblock %}

{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}



