{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Profile</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Profile
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
							<div class="pd-20 card-box height-100-p">
								<div class="profile-photo">

									{% if user.profile %}
									<img
										src="{{ user.profile.url}}"
										alt=""
										class="avatar-photo profile-photo"
									/>
                                        {% else %}
                                        <img
										src="/images/users_avatar/user-avatar.jpg"
										alt=""
										class="avatar-photo profile-photo"
									/>
									{% endif %}

								</div>
								<h5 class="text-center h5 mb-0">{{ user.get_full_name }}</h5>
								{% if user.job %}
								<p class="text-center text-muted font-14">
                                    {{ user.job}}
								</p>
								{% endif %}
								<div class="profile-info">
									<h5 class="mb-20 h5 text-blue">Contact Information</h5>
									<ul>
										<li>
											<span>Email Address:</span>
                                            {{ user.email}}
										</li>
										<li>
											<span>Username:</span>
											{{ user.username }}
										</li>
										<li>
											<span>Bio:</span>
                                            {% if user.job %}
                                            {{ user.bio }}
                                                {% else %}
                                                You Have Not set Bio
                                            {% endif %}
										</li>
										<li>
											<span>Position:</span>
											{% if user.is_superuser %}
											Manager
                                                {% elif user.is_staff %}
                                                Admin
											{% endif %}
										</li>
									</ul>
								</div>


							</div>
						</div>
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
							<div class="card-box  overflow-hidden">
								<div class="profile-tab height-100-p">
									<div class="tab height-100-p">
										<div class="tab-content">
											<!-- Timeline Tab start -->

											<div
												class="tab-pane fade height-100-p show active"
												id="setting"
												role="tabpanel"
											>
												<div class="profile-setting">
													<form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
														<div class="profile-edit-list p-4">

																<h4 class="text-blue h5 mb-20">
																	Edit Your Personal Setting
																</h4>
																<div class="form-group">
																	<label>First Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
                                                                        name="first_name"
                                                                        {% if form.first_name.value %}
                                                                        value="{{ form.first_name.value }}"
                                                                        {% endif %}
																	/>
																</div>

																<div class="form-group">
																	<label>Last Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
                                                                        name="last_name"
                                                                         {% if form.last_name.value %}
                                                                        value="{{ form.last_name.value }}"
                                                                        {% endif %}
																	/>
																</div>
																<div class="form-group">
																	<label>User Name</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
                                                                        name="username"
                                                                         {% if form.username.value %}
                                                                        value="{{ form.username.value }}"
                                                                        {% endif %}
																	/>
                                                                {% if form.username.errors %}
                                                                <div class="alert alert-danger mt-1">
                                                                    {{ form.username.errors }}
                                                                </div>
                                                            {% endif %}
																</div>
																<div class="form-group">
																	<label>Email</label>
																	<input
																		class="form-control form-control-lg"
																		type="email"
                                                                        name="email"
                                                                         {% if form.email.value %}
                                                                        value="{{ form.email.value }}"
                                                                        {% endif %}
																	/>
																</div>
                                                        {% if form.email.errors %}
                                                                <div class="alert alert-danger mt-1">
                                                                    {{ form.email.errors }}
                                                                </div>
                                                            {% endif %}
                                                        <div class="form-group">
																	<label>Job</label>
																	<input
																		class="form-control form-control-lg"
																		type="text"
                                                                        name="job"
                                                                         {% if form.job.value %}
                                                                        value="{{ form.job.value }}"
                                                                        {% endif %}
																	/>
																</div>
                                                        <div class="form-group">
																	<label>Bio</label>
                                                            <textarea name="bio" class="form-control form-control-lg">{% if form.bio.value %}{{ form.bio.value }}{% endif %}</textarea>
																</div>
																<div class="form-group">
                                                                                {% if request.user.profile %}
                                    <a href="{% url 'admin_panel:delete profile' %}" class="btn btn-danger mb-1">Delete Profile</a>
                                        {% endif %}
																	<label>Profile</label>
																	<input
																		class="form-control form-control-lg"
																		type="file"
                                                                        name="profile"
																	/>
																</div>
                                                                   <input type="submit" class="btn btn-primary" value="Submit">


														</div>
													</form>
												</div>
											</div>
											<!-- Setting Tab End -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

{% endblock %}



{% block scripts %}

		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/cropperjs/dist/cropper.js' %}"></script>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var image = document.getElementById("image");
				var cropBoxData;
				var canvasData;
				var cropper;

				$("#modal")
					.on("shown.bs.modal", function () {
						cropper = new Cropper(image, {
							autoCropArea: 0.5,
							dragMode: "move",
							aspectRatio: 3 / 3,
							restore: false,
							guides: false,
							center: false,
							highlight: false,
							cropBoxMovable: false,
							cropBoxResizable: false,
							toggleDragModeOnDblclick: false,
							ready: function () {
								cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
							},
						});
					})
					.on("hidden.bs.modal", function () {
						cropBoxData = cropper.getCropBoxData();
						canvasData = cropper.getCanvasData();
						cropper.destroy();
					});
			});
		</script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>

{% endblock %}
