{% extends 'parent/admin_base.html' %}

{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block head %}

{% endblock %}


{% block content %}


		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Rooms</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Rooms
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="bg-white border-radius-4 box-shadow mb-30">

							<div class="w-100">
								<div class="chat-list bg-light-gray">
									<div class="chat-search">
                                        <form action="{% url 'admin_panel:search room' %}" class="d-flex align-items-center justify-content-between">
										<div class="d-flex">
                                            <button type="submit" class="ti-search font-20 border-0"></button>
										<input type="search" name="query" placeholder="Search Contact" class="p-2" />
                                        </div>
                                            <a href="{% url 'admin_panel:add room' %}" class="btn btn-primary">Add Ticket</a>
                                            </form>
									</div>
									<div
										class="notification-list chat-notification-list customscroll"
									>
										<ul class="row">

											{% for room in rooms %}
											<li class="col-sm-6 col-12">
												<a href="{% url 'admin_panel:room answer' pk=room.pk %}">
													{% if room.creator.profile %}
													<img src="{{room.creator.profile.url }}" alt="{{ room.creator.get_full_name}}" />
                                                        {% else %}
                                                   <img src="/images/users_avatar/user-avatar.jpg" alt="{{ room.creator.get_full_name }}"/>
													{% endif %}
													<h3 class="clearfix">{{ room.creator.get_full_name }}</h3>
													<p>
                                                        {{ room.title }}
													</p>
												</a>
											</li>
											{% endfor %}


										</ul>
									</div>
								</div>
							</div>


					</div>
				</div>

			</div>
		</div>


{% endblock %}



{% block scripts %}
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
{% endblock %}


