{% extends 'parent/admin_base.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'style/izitoast.css' %}">
{% endblock %}


{% block content %}

		<div class="main-container">

			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Users</h4>
								</div>


								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="{% url 'admin_panel:home page' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Users
										</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
					<!-- Simple Datatable start -->
					<div class="card-box mb-30">
						<div class="pd-20">
							<h4 class="text-blue h4">Users</h4>
						
						</div>
						<div class="pb-20">
							<table class="data-table table stripe hover nowrap">
								<thead>
									<tr>
										<th class="table-plus datatable-nosort">Profile</th>
                                        <th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
										<th>Email</th>

										<th class="datatable-nosort">Action</th>
									</tr>
								</thead>
								<tbody>

									{% for user in users %}
									<tr>
                                        <td class="table-plus">{% if user.profile %}
                                        <img src="{{ user.profile.url }}" class="border-radius-100 box-shadow" style="height:50px" width="50" height="50">
                                            {% else %}
                                            <img src="../../../images/users_avatar/user-avatar.jpg" class="border-radius-100 box-shadow" style="height:50px" width="50" height="50">
                                        {% endif %} </td>
										<td class="table-plus">{{ user.first_name }}</td>
										<td>{{ user.last_name }}</td>
										<td>{{ user.username }}</td>
										<td>{{ user.email }}</td>
										<td>{% if user.is_superuser %}
										    Manager
                                        {% elif user.is_staff %}
                                        Admin
                                        {% else %}
                                        User
										{% endif %} </td>
										<td>
											<div class="dropdown">
												<a
													class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
													href="#"
													role="button"
													data-toggle="dropdown"
												>
													<i class="dw dw-more"></i>
												</a>
												<div
													class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
												>
													<a class="dropdown-item" href="{% url 'admin_panel:user_page' user.username %}"
														><i class="dw dw-eye"></i> View</a
													>
													{% if request.user.is_superuser or not user.is_staff %}
													<a class="dropdown-item" href="{% url 'admin_panel:edit user page' user.username %}"
														><i class="dw dw-edit2"></i> Edit</a
													>
													{% if user != request.user %}
													<a class="dropdown-item" href="{% url 'admin_panel:delete user' user.username %}"
														><i class="dw dw-delete-3"></i> Delete</a
													>

													{% endif %}
													{% endif %}
												</div>
											</div>
										</td>
									</tr>
									{% endfor %}


								</tbody>
							</table>
						</div>
					</div>

					
				
					<!-- Export Datatable End -->
				</div>

			</div>
		</div>

{% endblock %}
{% block scripts %}

		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>

		<script src="{% static 'src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.print.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/pdfmake.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/vfs_fonts.js' %}"></script>
		<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>

		{% if messages %}
		<script src="{% static 'vendors/scripts/izitoast.js' %}"></script>
    <script type="text/javascript">
         window.addEventListener('load', () => {
             {% for message in messages %}
        iziToast.{{ message.tags }}({
                theme: 'dark',
messageColor: '#1a1a1a',
            color: '#0eb020',
    message: '{{message}}'
});
        {% endfor %}
         })



</script>
		{% endif %}
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
{% endblock %}