{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<body>
    <section class="form__section">
        <div class="container form__section-container">
            <h2>Sign In</h2>
{% if form.errors %}
 <div class="alert__message error">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
                {{ error }}
                {% endfor %}
                {% endfor %}
    </div>
{% endif %}
            <form method="post">

{% csrf_token %}

                <input type="text" placeholder="Username or Email" name="username">
                <input type="password" placeholder="Create Password" name="password">
                <button type="submit" class="btn">Sign In</button>
                <small>Don't have account? 
                    <a href="{% url 'blog_app:sign up' %}">Sign Up</a>
                </small>
            </form>
        </div>
    </section>



</body>

</html>