{% extends 'parent/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<main>
<section class="featured container">
    <div class="text-center" >
  <h1 class="title">Password Reset Form</h1>
  <h3 style="">
    Please enter your new password so we can verify.
  </h3>
</div>
<br />
<form method="POST" class="reset_password_form">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Reset Password"/>
</form>
</section>
    <!-- start category buttons section -->
        {% include 'partials/categories.html' %}
    <!-- end category buttons section -->
</main>
{% endblock %}