{% extends 'parent/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<main>

    <section class="form__section">
        <div class="container form__section-container">
            <h2>Password Reset</h2>


            <form  method="post">
            {% csrf_token %}
{#                <input type="text" placeholder="email" name="email" {% if form.email.value %}#}
{#                value="{{ form.email.value }}"#}
{#                {% endif %} >#}
                {{ form }}


                <button type="submit" class="btn">Send Email</button>
            </form>
        </div>
    </section>

</main>
{% endblock %}