:root {
  --color-primary: #6f6af8;
  --color-primary-light: hsl(242, 91%, 69%, 18%);
  --color-primary-variant: #5854c7;
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;
  --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: var(--color-gray-200);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 0.9rem;
}
.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}
section {
  margin-top: 3rem;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white);
  line-height: 1.3;
}
h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
h3 {
  font-size: 1.1rem;
  image-rendering: 0.8rem 0 0.5rem;
}
h4 {
  font-size: 1rem;
}
a {
  color: var(--color-white);
  transition: var(--transition);
}
img {
  display: block;
  width: 100%;

}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background-color: var(--color-gray-900);
  border-radius: var(--card-border-radius-2);
  resize: none;
  color: var(--color-white);
}

/* nav */

nav {
  background: var(--color-primary);
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
nav button {
  display: none;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 2px solid var(--color-bg);
  background: #000;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;;
}
.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__profile {
  position: relative;
  cursor: pointer;
}
/* show nav ul when nav profile is howered */
.nav__profile:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__profile ul {
  position: absolute;
  top: 130%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0, 4);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.nav__profile ul li a {
  padding: 1rem;
  background: var(--color-gray-900);
  display: block;
  width: 100%;
}
.nav__profile ul li:last-child a {
  background: var(--color-red);
  color: var(--color-bg);
}

/* category button */
.category__button {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-weight: 60;
  font-size: 0.8rem;
  text-align: center;
}
.category__button:hover {
  color: var(--color-white);
}
/* general post */
.post__thumbnail {
  border-radius: var(--card-border-radius-5) 0;
  border: 1rem solid var(--color-gray-900);
  overflow: hidden;
  margin-bottom: 1.6rem;
  height: 19rem;
}
.post__title {
  margin: .5rem 0 ;
}
.post__body {
  overflow: hidden; display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 6;
}
.post:hover .post__thumbnail img {
  filter: saturate(0);
  transition: filter 500ms ease;
}
.post__author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}
.post__author-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
}
/* featured */
.featured {
  margin-top: 8rem;
}
.featured__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.featured .post__thumnbail {
  height: fit-content;
}
/* posts */
.posts__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.post img{
  height: 100%;
}
/* categories  button */
.category__buttons {
  padding: 4rem 0;
  border-top: 2px solid var(--color-gray-900);
  border-bottom: 2px solid var(--color-gray-900);
}
.category__buttons-container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
/* footer */
footer {
  background: var(--color-gray-900);
  padding: 5rem 0 0;
  box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.footer__socials {
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.footer__socials a {
  background: var(--color-bg);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__socials a:hover {
  background: var(--color-white);
  color: var(--color-bg);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer h4 {
  color: var(--color-white);
  margin-bottom: 0.6rem;
}
footer ul a {
  opacity: 0.75;
}
footer ul a:hover {
  letter-spacing: 0.2rem;
  opacity: 1;
}
footer ul li {
  padding: 0.4rem 0;
}
.footer__copyright {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-bg);
  margin-top: 4rem;
}

/* blog_app */

/* search */
.search__bar {
  margin-top: 7rem;
}
.search__bar-container {
  background: var(--color-gray-900);
  width: 30rem;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: var(--card-border-radius-2);
  color: var(--color-gray-300);
}

.search__bar-container > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__bar input {
  background: transparent;
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  width: 100%;
}
.search__bar input::placeholder {
  color: var(--color-gray-300);
}
/* button */
.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-white);
}
.btn.sm {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
}
.btn.danger {
  background-color: var(--color-red);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

/* single post */
.singlepost {
  margin: 6rem 0 2rem;
}
.singlepost__container .post {
  width: 62%;
}
.blog-text,
.short-link-container__short-link-box,
.news-posts,
.categories,
.comments {
  background: var(--color-gray-900);
  padding: 1rem 2rem 3rem;
  border-radius: var(--card-border-radius-3);
}
.short-link-container__short-link-box,
.news-posts,
.categories {
  padding: 1rem 2rem 2rem 2rem;
}
.blog-text p {
  margin: 1rem 0 1rem;
  line-height: 1.7;
}
.singlepost__thumbnail {
  margin-top: 1.5rem;
}
.singlepost__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.short-link-container {
  height: fit-content;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.singlepost .title {
  position: relative;
  padding-left: 1rem;
}
.short-link-box__title::before,
.news-posts__title::before,
.categories__title::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.5rem;
  top: 0;
  left: -31px;
  bottom: 0;
  background: yellow;
  margin: auto;
  border-radius: 0rem 1rem 1rem 0;
}
.news-posts__title::before {
  background: var(--color-red);
}
.categories__title::before {
  background: var(--color-green);
}
.short-link-container__link-container {
  padding: 0.8rem;
  background: var(--color-gray-700);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--card-border-radius-3);

}
.uil-copy-alt{
    cursor: pointer;
}
.news-posts__container {
  padding: 0 1rem;
}
.news-post__content {
  border-bottom: 1px dashed var(--color-gray-200);
}
.text-md {
  font-size: 1rem;
}
.news-post__content {
  padding: 1rem 0;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* comments */
.comments {
  margin-top: 2rem;
}
.comments img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}
.comments .title::before {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 2.4rem;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--color-red);
  margin: auto;
  border-radius: 0.2rem;
}
.comments__comment-box {
  margin-top: 2rem;
}
.comment-box__user-info-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comments textarea {
  background: var(--color-gray-700);
  border: 1px solid var(--color-gray-300);
  margin-top: 1rem;
  resize: vertical;
  font-size: 1rem;
  letter-spacing: 1px;
}
.submit-btn {
  padding: 0.9rem 1.3rem;
  color: var(--color-white);
  border-radius: 0.5rem;
}
select,
.submit-btn {
  background-color: var(--color-gray-700);
}
.form-bottom {
  display: flex;
  justify-content: space-between;
}
.comments-container,
.comments-reply-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.comment__body{
  width: 75%;
}

.comment,
.comments-reply {
  background-color: var(--color-gray-700);
  border-radius: var(--card-border-radius-3);
  padding: 1.5rem;
}
.reply-svg {
  fill: var(--color-gray-200);
  width: 2rem;
  height: fit-content;
  position: absolute;
  right: 0;
}
.comments-reply {
  display: flex;
  gap: 1rem;
}
.comment-content {
  display: flex;

  gap: 1rem;
  position: relative;
}
.comment-date {
  font-size: 12px;
}
.comment__text {
  margin-top: 1rem;
}
.user-position {
  margin: 0.5rem auto;
  font-size: 12px;

  text-align: center;
  width: 3.1rem;
  border-radius: var(--card-border-radius-1);
  background-color: var(--color-gray-900);
  height: 30px;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
}
.comment__info {
  display: flex;
  justify-content: space-between;
}
.comments-reply {
  background-color: var(--color-bg);
}
.stars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  justify-content: center;
  height: 1rem;
}
.star {
  fill: #ccbe00;
  width: 1.2rem;
  height: 1.2rem;
}
/* user dashboard */
.profile-container {
  display: flex;
  gap: 1rem;
}
.profile-img {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.profile__img {
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  margin: 0 auto;
}
.user-full-name {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 1rem;
}
.user-job {
  margin: 0.5rem auto;
  background-color: var(--color-bg);
  width: fit-content;
  padding: 0.5rem;
  height: fit-content;
}
/* category posts */
.category__title {
  height: 15rem;
  margin-top: 4.5rem;
  background: var(--color-gray-900);
  display: grid;
  place-items: center;
}

/* user profile page */
.user-profile-section {
  margin: 7rem 0 2rem 0;
}
.user-profile__container {

}
.card {
  width: 50%;
  background-color: var(--color-gray-900);
  border: 2px solid var(--color-white);
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
.user-img-box {

}
.user-img {
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  margin: 0 auto;
  object-fit: cover;

}
.user-fullname {
font-size: 1.5rem;
margin: 1rem 0;
}

.user-posts__container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}
.user-post {
  border: 1px solid var(--color-white);
  height: 6rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.user-post__img {
height: 100%;
  width: 4rem;
  border-radius: var(--card-border-radius-3);
}

.user-post__title {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
font-size: .9rem;
}
.title-section{
  height: 20vh;
  margin-top: 5rem;
  display: grid;
  place-items: center;
}

/* about page */
.empty__page {
  height: 70vh;
  display: grid;
  place-items: center;
}
/* general form */
.form__section {
  display: grid;
  place-items: center;
  height: 100vh;
}
.form__section-container {
  width: var(--form-width);
}
.alert__message {
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: var(--card-border-radius-2);
}
.alert__message.error {
  background: var(--color-red-light);
  color: var(--color-red);
}
.alert__message.success {
  background: var(--color-green-light);
  color: var(--color-green);
}

.form__control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.form__control.inline {
  flex-direction: row;
  align-items: center;
}

.form__section small {
  margin-top: 1rem;
  display: block;
}
.form__section small a {
  color: var(--color-primary);
}
/* dashboard */
.dashboard {
  margin-top: 6rem;
}
.dashboard__container {
  display: grid;
  grid-template-columns: 14rem auto;
  gap: 1rem;
  background: var(--color-gray-900);
  padding: 2rem;
  margin-bottom: 5rem;
}
.dashboard aside a {
  background-color: var(--color-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.6rem;
}
.dashboard aside li:not(:last-child) a {
  border-bottom: 1px solid var(--color-gray-900);
}
.dashboard aside a:hover {
  background: var(--color-gray-700);
}
.dashboard aside a.active {
  background-color: var(--color-gray-700);
}
.dashboard main {
  margin-left: 1.5rem;
}
.dashboard main h2 {
  margin: 0 0 2rem 0;
  line-height: 1;
}
.dashboard main table {
  width: 100%;
  text-align: left;
}
.dashboard main table th {
  background: var(--color-gray-700);
  padding: 0.8rem;
  color: var(--color-white);
}
.dashboard main table td {
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-gray-200);
  font-size: 0.8rem;
}
.dashboard main table tr:hover td {
  background-color: var(--color-bg);
  transition: var(--transition);
  color: var(--color-white);
}
.sidebar__toggle {
  display: none;
}
.sign-up-form div input{
  width: 100%;
}
@media screen and (max-width: 1700px) {
  .posts__container{
    grid-template-columns: repeat(3, 1fr);
  }
}
/* media queries */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  /* nav */
  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
  }
  #close__nav-btn {
    display: none;
  }
  .nav__container {
    position: relative;
  }
  .nav__items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
  }
  .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    border-top: 1px solid var(--color-bg);
    animation: animationDropDown 400ms 0s ease forwards;
    opacity: 0;
    transform-origin: top;
  }
  .nav__items li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__items li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__items li:nth-child(4) {
    animation-delay: 600ms;
  }
  .nav__items li:nth-child(5) {
    animation-delay: 800ms;
  }
  .nav__items li:nth-child(6) {
    animation-delay: 1000ms;
  }
  /* nav item animation*/
  @keyframes animationDropDown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  .nav__items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: var(--color-gray-900);
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }

  .nav__profile {
    background: var(--color-gray-900);
  }
  .nav__profile ul {
    top: 100%;
    width: 100%;
  }
  .nav__profile .avatar {
    margin-left: 2rem;
    border: 0;
  }
  .featured__container {
    gap: 3rem;
  }
  .posts__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  /* blog_app */
  .search__bar-container {
    width: 60%;
  }
  /* dashboard */
  .dashboard__container {
    grid-template-columns: 4.3rem auto;
    padding: 0;
    background: transparent;
  }
  .dashboard aside {
    /* background: var(--color-primary); */
  }
  .dashboard aside h5 {
    display: none;
  }
  .dashboard main table thead {
    display: none;
  }
  .dashboard table tr {
    display: flex;
    flex-direction: column;
  }
  .dashboard main table tr:nth-child(even) {
    background: var(--color-gray-900);
  }
  .dashboard main table tr:hover td {
    background: transparent;
  }
}
@media screen and (max-width: 800px) {
  .post {
    width: 100% !important;
  }
  .short-link-container {
    display: none;
  }
}
/* small  */
@media screen and (max-width: 600px) {
  section {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .featured {
    margin-top: 6rem;
  }
  .featured__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .posts__container {
    grid-template-columns: 1fr;
  }
  .category__buttons-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }
  /* blog_app */
  .search__bar-container {
    width: var(--container-width-md);
  }
  /* single post */
  .singlepost__container {
    background: transparent;
    padding: 0;
  }
  /* general form */
  .form__section-container {
    padding: 0;
  }
  /* dashboard */
  .dashboard {
    margin-top: 5rem;
  }
  .dashboard__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .dashboard main {
    margin: 0;
  }
  .dashboard main h2 {
    margin-top: 1rem;
  }
  .dashboard aside {
    position: fixed;
    box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.4);
    left: -100%;
    height: 100vh;
    transition: var(--transition);
    background: var(--color-primary);
  }
  .dashboard .sidebar__toggle {
    display: inline-block;
    background: var(--color-primary-variant);
    color: var(--color-white);
    position: fixed;
    z-index: 1;
    width: 2.5rem;
    right: 0;
    bottom: 4rem;
    height: 2.5rem;
    border-radius: 50% 0 0 50%;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
  }
  .dashboard aside a h5 {
    display: inline-block;
  }
  #hide__sidebar-btn {
    display: none;
  }
  .star {
  width: 1rem;
  height: 1rem;
}.comment, .comments-reply{
     padding: 1rem;
   }
 .blog-text, .comments{
   padding: 1rem 1.3rem 2rem;
 }
.comment__info{
  display: block;
}
.stars-container{
  float: right;
}
}
