<footer>
        <div class="footer__socials">
            <a href=""><i class="uil uil-youtube"></i></a>
            <a href="https://github.com/MahdiMalvandi"><i class="uil uil-github"></i></a>
            <a href="https://www.linkedin.com/in/mahdi-malvandi-8a2924293?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="uil uil-linkedin"></i></a>
            <a href="https://t.me/Mahdi_ml6"><i class="uil uil-telegram"></i></a>
            <a href=""><i class="uil uil-youtube"></i></a>
        </div>
        <div class="container footer__container">
            <article>
                <h4>Categories</h4>
                <ul>
                    <li><a href="">Art</a></li>
                    <li><a href="">wild life</a></li>
                    <li><a href="">travel</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">scinse and technology</a></li>
                    <li><a href="">food</a></li>
                </ul>
            </article>
            <article>
                <h4>Support</h4>
                <ul>
                    <li><a href="">outline support</a></li>
                    <li><a href="">call numbers</a></li>
                    <li><a href="">emails</a></li>
                    <li><a href="">social support</a></li>
                    <li><a href="">location</a></li>
                </ul>
            </article>
            <article>
                <h4>Blog</h4>
                <ul>
                    <li><a href="">safety</a></li>
                    <li><a href="">repair</a></li>
                    <li><a href="">recent</a></li>
                    <li><a href="">popular</a></li>
                    <li><a href="">categories</a></li>
                </ul>
            </article>
            <article>
                <h4>Permailinks</h4>
                <ul>
                    <li><a href="{% url 'blog_app:home' %}">Home</a></li>
                    <li><a href="{% url 'blog_app:blogs' %}">Blogs</a></li>
                    <li><a href="{% url 'blog_app:about' %}">About</a></li>
                    <li><a href="{% url 'blog_app:services' %}">Services</a></li>
                    <li><a href="{% url 'blog_app:contact' %}">Contact</a></li>
                </ul>
            </article>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; Mahdi Malvandi</small>
        </div>
    </footer>