{% extends 'parent/base.html' %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<main>
<section class="container featured">
    <h1 class="title">Change Password</h1>
    <form method="post" class="reset_password_form">
        {% csrf_token %}
        <input type="password" placeholder="Enter Your Old Password" name="old_password">
        <input type="password" placeholder="Enter Your New Password" name="new_password">
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <input type="submit" value="Reset Password">
    </form>
</section>
    <!-- start category buttons section -->
        {% include 'partials/categories.html' %}
    <!-- end category buttons section -->
</main>
{% endblock %}