
{% extends 'parent/base.html' %}
{% load static %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
<main>
    <!-- start search form -->
    <section class="search__bar">
        <form action="{% url 'blog_app:blogs' %}" class="container search__bar-container">
            <div class="">
                <i class="uil uil-search"></i>
                <input type="search" name="q" placeholder="Search..." autocomplete="off">
            </div>
            <button type="submit" class="btn">Go</button>
        </form>
    </section>
    <!-- end search form -->

    <section class="posts">
        <div class="container posts__container">

            <!-- start post card -->
            {% if posts %}
                {% for post in posts %}
                    <article class="post">
                <div class="post__thumbnail">
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                </div>
                <div class="post__info">
                   <a href="{% url 'blog_app:category posts'   post.category.text %}" class="category__button">{{ post.category.text }}</a>

                    <h3 class="post__title"><a href="{% url 'blog_app:blog page' post.slug %}">{{ post.title }}</a></h3>
                    <p class="post__body">{{ post.body }}</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                            {% if post.author.profile %}
                            <img src="{{ post.author.profile.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/user-avatar.jpg' %}" alt="">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  post.author.username %}">{{ post.author.get_full_name }}</a></h5>
                                <small>{{ post.created }}</small>
                            </div>
                        </div>
                </div>
            </article>
                {% endfor %}
                {% else %}
                <h2 style="text-align: center; color:white;">There is no article</h2>
            {% endif %}

            <!-- end post card -->



        </div>
    </section>

    <!-- end section -->


    <!-- start category buttons section -->
    <section class="category__buttons">
        <div class="container category__buttons-container">
            {% for category in categories %}
            <a href="{% url 'blog_app:category posts' category.text %}" class="category__button">{{ category.text }}</a>
            {% endfor %}
        </div>
    </section>
    <!-- end category buttons section -->

</main>
{% endblock %}





