
{% extends 'parent/base.html' %}
{% load static %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
<main>
    <!-- start search form -->
    <section class="search__bar">
        <form action="{% url 'blog_app:blogs' %}" class="container search__bar-container">
            <div class="">
                <i class="uil uil-search"></i>
                <input type="search" name="q" placeholder="Search..." autocomplete="off">
            </div>
            <button type="submit" class="btn">Go</button>
        </form>
    </section>
    <!-- end search form -->

<section class="options">
    <div class="container">
        <div class="content">
            <p class="sort_by">Sort By:</p>
            <a href="{% url 'blog_app:blogs' %}">Normal</a>
            <a href="?time=newest">Newest</a>
            <a href="?time=oldest">Oldest</a>
        </div>
    </div>
</section>
    <section class="posts">
    <div class="container">
        <div class=" posts__container">

            <!-- start post card -->
            {% if posts %}
                {% for post in posts %}
                    <article class="post">
                <div class="post__thumbnail">
                    {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                        {% else %}
                        <img src="/images/article-thumbnail/default.png" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="post__info">
                   <a href="{% url 'blog_app:category posts'   post.category.text %}" class="category__button">{{ post.category.text }}</a>

                    <h3 class="post__title"><a href="{% url 'blog_app:blog page' post.slug %}">{{ post.title }}</a></h3>
                    <p class="post__body">{{ post.description }}</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                            {% if post.author.profile %}
                            <img src="{{ post.author.profile.url }}" alt="">
                            {% else %}
                                <img src="/images/users_avatar/user-avatar.jpg" alt="">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  post.author.username %}">{{ post.author.get_full_name }}</a></h5>
                                <small>{{ post.created }}</small>
                            </div>
                        </div>
                </div>
            </article>
                {% endfor %}
                {% else %}
                <h2 style="text-align: center; color:white;">There is no article</h2>
            {% endif %}

            <!-- end post card -->
        </div>
        {% include 'partials/pagination.html' with page=posts %}
    </div>




    </section>

    <!-- end section -->


    <!-- start category buttons section -->
         {% include 'partials/categories.html' %}

    <!-- end category buttons section -->

</main>
{% endblock %}





