<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<body>
<section class="form__section">
    <div class="container form__section-container">

        <h2>Change Profile</h2>
        <div class="alert__message success">
            <p>This is an error message</p>
        </div>
        <form action="" enctype="multipart/form-data">
            <input type="text" name="firstname" id="" class="text" placeholder="Enter Your First Name">
            <input type="text" name="lastname" id="" class="text" placeholder="Enter Your Last Name">
            <input type="text" name="username" id="" class="text" placeholder="Enter Your User Name">
            <input type="text" name="job" id="" class="text" placeholder="Enter Your Job">
            <textarea type="text" name="bio" id="" class="text" placeholder="Enter Your Bio"></textarea>
            <div class="form__control">
                <label for="avatar">avatar</label>
                <input type="file" id="avatar">
            </div>
            <button type="submit" class="btn">Submit</button>

        </form>
    </div>
</section>


    <script src="main.js"></script>
</body>

</html>