{% extends 'parent/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<main>

{% with user=request.user %}
    <section class="dashboard">
        <div class="container dashboard__container">
            <button class="sidebar__toggle" id="show__sidebar-btn"><i class="uil uil-angle-right-b"></i></button>
            <button class="sidebar__toggle" id="hide__sidebar-btn"><i class="uil uil-angle-left-b"></i></button>
            <aside>
                <ul>
                    <li>
                        <a href="{% url 'blog_app:profile' %}" class="active">
                            <i class="uil uil-user"></i>
                            <h5>Profile</h5>
                        </a>
                    </li>
                    <li>
                        <a href="add-post.html">
                            <i class="uil uil-pen"></i>
                            <h5>Add Post</h5>
                        </a>
                    </li>
                    <li>
                        <a href="manage-posts-for-users.html">
                            <i class="uil uil-postcard"></i>
                            <h5>Manage Posts</h5>
                        </a>
                    </li>

                    <li>
                        <a href="change-profile.html" >
                            <i class="uil uil-users-alt"></i>
                            <h5>Change Profile</h5>
                        </a>
                    </li>
                </ul>
            </aside>
            <main>
                <h2>Profile</h2>
                <div class="profile-container">
                    <div class="profile-img">
                        {% if user.profile %}
                        <img src="{{ user.profile.url }}" alt="{{ user.get_full_name }}'s profile" class="profile__img">
                        {% endif %}
                        <h5 class="user-full-name">{{ user.get_full_name }}</h5>
                        {% if user.job %}
                        <p class="user-job user-position">{{ user.job }}</p>
                            {% else %}
                            <p class="user-job user-position">You have not set your job yet</p>
                        {% endif %}
                        {% if user.bio %}
                        <p class="bio">{{ user.bio }}</p>
                            {% else %}
                            <p class="bio">You have not set your job yet</p>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </section>
{% endwith %}
</main>
{% endblock %}