{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<main>

{% with user=request.user %}
    <section class="dashboard">
        <div class="container dashboard__container">
            {% include 'partials/sidebar.html' with active='profile' %}
            <main>
                <h2>Profile</h2>
                <div class="profile-container">
                    <div class="profile-img">
                        {% if user.profile %}
                        <img src="{{ user.profile.url }}" alt="{{ user.get_full_name }}'s profile" class="profile__img">
                            {% else %}
                        <img src="../../../images/users_avatar/user-avatar.jpg"  alt="{{ user.get_full_name }}'s profile" class="profile__img">

                        {% endif %}
                        <h5 class="user-full-name">{{ user.get_full_name }}</h5>
                        {% if user.job %}
                        <p class="user-job user-position">{{ user.job }}</p>
                            {% else %}
                            <p class="user-job user-position">You have not set your job yet</p>
                        {% endif %}
                        {% if user.bio %}
                        <p class="bio">{{ user.bio }}</p>
                            {% else %}
                            <p class="bio">You have not set your job yet</p>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </section>
{% endwith %}
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/dashboard.js' %}"></script>

{% endblock %}