{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
Blog Site
{% endblock %}

{% block content %}
<main>
{#
images/users_avatar/user-avatar.jpg
images/article-thumbnail/default.png
    <!-- feature post -->
    {% if most_popular_post %}
    <section class="featured">

        <div class="container  featured__container">
            <div class="post__thumbnail most_popular_thumbnail">
                {% if most_popular_post.thumbnail %}
                <img src="{{most_popular_post.thumbnail.url}}" alt="{{ most_popular_post.title }}">
                    {% else %}
                <img src="/images/article-thumbnail/default.png" alt="{{ most_popular_post.title }}">

                {% endif %}
            </div>
            <div class="post__info">

                <a href="{% url 'blog_app:category posts' most_popular_post.category %}" class="category__button">{{ most_popular_post.category }}</a>
                <h2 class="post__title"><a href="{% url 'blog_app:blog page' most_popular_post.slug %}">{{ most_popular_post.title }}</a></h2>
                <p class="post__body">{{ most_popular_post.description }}</p>
                <div class="post__author">
                      <div class="post__author-avatar">
                            {% if most_popular_post.author.profile %}
                            <img src="{{ most_popular_post.author.profile.url }}" alt="" style="height: 100%;">
                            {% else %}
                                <img src="/images/users_avatar/user-avatar.jpg" alt="" style="height: 100%;">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  most_popular_post.author.username %}">{{ most_popular_post.author.get_full_name }}</a></h5>
                                <small>{{ most_popular_post.created }}</small>
                            </div>

                </div>
            </div>
        </div>
    </section>
        {% else %}
                        <h2 style=" color:white;">There is no most popular article</h2>
    {% endif %}
    <!-- end feature post -->

    <section class="posts">
        <div class="container ">

            <!-- start post card -->
           <section class="popular_posts r">
                <h2>Popular posts</h2>

                    {% if popular_posts %}
                           <div class="posts__container">
{% for popular_post in popular_posts %}

                        <article class="post">
                <div class="post__thumbnail">
                    {% if popular_post.thumbnail %}
                    <img src="{{ popular_post.thumbnail.url }}" alt="{{ popular_post.title }}">
                        {% else %}
                    <img src="/images/article-thumbnail/default.png" alt="{{ popular_post.title }}">

                    {% endif %}
                </div>
                <div class="post__info">
                   <a href="{% url 'blog_app:category posts'   popular_post.category.text %}" class="category__button">{{ popular_post.category.text }}</a>

                    <h3 class="post__title"><a href="{% url 'blog_app:blog page' popular_post.slug %}">{{ popular_post.title }}</a></h3>
                    <p class="post__body">{{ popular_post.description }}</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                            {% if popular_post.author.profile %}
                            <img src="{{ popular_post.author.profile.url }}" alt="{{ popular_post.author.get_full_name }}">
                            {% else %}
                                <img src="/images/users_avatar/user-avatar.jpg" alt="{{ popular_post.author.get_full_name }}">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  popular_post.author.username %}">{{ popular_post.author.get_full_name }}</a></h5>
                                <small>{{ popular_post.created }}</small>
                            </div>
                        </div>
                </div>
            </article>

                    {% endfor %}
                          </div>
                        {% else %}
                                        <h2 style=" color:white;">There is no popular article</h2>
                    {% endif %}


           </section>
            <!-- end post card -->

        <section class="popular_posts ">
                <h2>Latest posts</h2>
               {% if latest_posts %}
<div class="posts__container">
                    {% for latest_post in latest_posts %}
                        <article class="post">
                <div class="post__thumbnail">
                   {% if latest_post.thumbnail %}

                    <img src="{{ latest_post.thumbnail.url }}" alt="{{ latest_post.title }}">
                       {% else %}
                                                  <img src="/images/article-thumbnail/default.png" alt="{{ latest_post.title }}">


                    {% endif %}
                </div>
                <div class="post__info">
                   <a href="{% url 'blog_app:category posts'   latest_post.category.text %}" class="category__button">{{ latest_post.category.text }}</a>

                    <h3 class="post__title"><a href="{% url 'blog_app:blog page' latest_post.slug %}">{{ latest_post.title }}</a></h3>
                    <p class="post__body">{{ latest_post.description }}</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                            {% if latest_post.author.profile %}
                            <img src="{{ latest_post.author.profile.url }}" alt="{{ latest_post.author.get_full_name }}">
                            {% else %}
                                <img src="/images/users_avatar/user-avatar.jpg" alt="{{ latest_post.author.get_full_name }}">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  latest_post.author.username %}">{{ latest_post.author.get_full_name }}</a></h5>
                                <small>{{ latest_post.created }}</small>
                            </div>
                        </div>
                </div>
            </article>
                    {% endfor %}
</div>
                   {% else %}
                                   <h2 style=" color:white;">There is no latest article</h2>
               {% endif %}
           </section>



        </div>
    </section>

    <!-- end section -->


    <!-- start category buttons section -->
        {% include 'partials/categories.html' %}
    <!-- end category buttons section -->


</main>
{% endblock %}

