{% extends 'parent/base.html' %}
{% block title %}
Blog Site
{% endblock %}

{% block content %}
<main>
    <!-- feature post -->
    <section class="featured">
        <div class="container  featured__container">
            <div class="post__thumbnail">
                <img src="./images/blog1.jpg" alt="">
            </div>
            <div class="post__info">
                <a href="" class="category__button">Wild Life</a>
                <h2 class="post__title"><a href="post.html">Lorem ipsum dolor s adipisicing elit.
                        Ullam eligendi dolorum aut delectus?</a></h2>
                <p class="post__body">Lorem ipsum dolor,pti, nam
                    recusandae. Ducimus eveniet r adipid, alias earum reiciendis, commodi placeat distinctio atque, obcaecati nesciunt minus tenetur culpa sequi animi hic odio tempora voluptatem numquam aspernatur?</p>
                <div class="post__author">
                    <div class="post__author-avatar">
                        <img src="/images/avatar11.jpg" alt="">
                    </div>
                    <div class="post__author-info">
                        <h5>By : Mary Danso</h5>
                        <small>June 10, 2022 - 07:23</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature post -->

    <section class="posts">
        <div class="container posts__container">

            <!-- start post card -->
            <article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article>
            <!-- end post card -->


            <article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog3.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog5.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article><article class="post">
                <div class="post__thumbnail">
                    <img src="images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="" class="category__button">Wild Life</a>
                    <h3 class="post__title"><a href="post.html" class="">Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.</a></h3>
                    <p class="post__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tempora sed
                        sit est exercitationem iste adipisci, consequatur mollitia, nihil, dolores nobis neque sunt!</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatar12.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <h5>By : john</h5>
                                <small>June 13 , 2022 - 10:34</small>
                            </div>
                        </div>
                </div>
            </article>

        </div>
    </section>

    <!-- end section -->


    <!-- start category buttons section -->
    <section class="category__buttons">
        <div class="container category__buttons-container">
            {% for category in categories %}
            <a href="{% url 'blog_app:category posts' category.text %}" class="category__button">{{ category.text }}</a>
            {% endfor %}
        </div>
    </section>
    <!-- end category buttons section -->


</main>
{% endblock %}

