{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
Blog Site
{% endblock %}

{% block content %}
<main>
    <!-- feature post -->
    <section class="featured">
        <div class="container  featured__container">
            <div class="post__thumbnail most_popular_thumbnail">
                <img src="{{most_popular_post.thumbnail.url}}" alt="{{ most_popular_post.title }}">
            </div>
            <div class="post__info">
                <a href="{% url 'blog_app:category posts' most_popular_post.category %}" class="category__button">{{ most_popular_post.category }}</a>
                <h2 class="post__title"><a href="{% url 'blog_app:blog page' most_popular_post.slug %}">{{ most_popular_post.title }}</a></h2>
                <p class="post__body">{{ most_popular_post.body }}</p>
                <div class="post__author">
                      <div class="post__author-avatar">
                            {% if most_popular_post.author.profile %}
                            <img src="{{ most_popular_post.author.profile.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/user-avatar.jpg' %}" alt="">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  most_popular_post.author.username %}">{{ most_popular_post.author.get_full_name }}</a></h5>
                                <small>{{ most_popular_post.created }}</small>
                            </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end feature post -->

    <section class="posts">
        <div class="container ">

            <!-- start post card -->
           <section class="popular_posts r">
                <h2>Popular posts</h2>
               <div class="posts__container">
                    {% for popular_post in popular_posts %}
                        <article class="post">
                <div class="post__thumbnail">
                    <img src="{{ popular_post.thumbnail.url }}" alt="{{ popular_post.title }}">
                </div>
                <div class="post__info">
                   <a href="{% url 'blog_app:category posts'   popular_post.category.text %}" class="category__button">{{ popular_post.category.text }}</a>

                    <h3 class="post__title"><a href="{% url 'blog_app:blog page' popular_post.slug %}">{{ popular_post.title }}</a></h3>
                    <p class="post__body">{{ popular_post.body }}</p>
                        <div class="post__author">
                            <div class="post__author-avatar">
                            {% if popular_post.author.profile %}
                            <img src="{{ popular_post.author.profile.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/user-avatar.jpg' %}" alt="">

                            {% endif %}
                            </div>
                            <div class="post__author-info">
                                <h5>By : <a href="{% url 'blog_app:user info'  popular_post.author.username %}">{{ popular_post.author.get_full_name }}</a></h5>
                                <small>{{ popular_post.created }}</small>
                            </div>
                        </div>
                </div>
            </article>
                    {% endfor %}

               </div>
           </section>
            <!-- end post card -->





        </div>
    </section>

    <!-- end section -->


    <!-- start category buttons section -->
    <section class="category__buttons">
        <div class="container category__buttons-container">
            {% for category in categories %}
            <a href="{% url 'blog_app:category posts' category.text %}" class="category__button">{{ category.text }}</a>
            {% endfor %}
        </div>
    </section>
    <!-- end category buttons section -->


</main>
{% endblock %}

