{% extends 'parent/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<main>

    <section class="dashboard">
        <div class="container dashboard__container">
            {% include 'partials/sidebar.html' with active='tickets' %}


                    <div class="main">
                        <div class="show-ticket form-box">
                            <div class="top-box">
                                <h3>{{ room.type }}</h3>
                            </div>
                            <div class="bottom-box">

{% for message in room.messages.all %}
<div class="message {% if message.user != room.creator %}admin-message{% endif %} ">
                                    <p class="username">{{ message.user.get_full_name }}i</p>
                                    <p class="date">{{ message.created|date:'y/m/d'}} {{ message.created|time }}</p>
                                    <p class="text">
                                      {{ message.body }}

                                    </p>
                                </div>
{% endfor %}

										<div class="chat-footer">
								                 {% if room.is_open %}
                                           <form method="post" action="{% url 'blog_app:answer ticket' room.pk %}">
                                           {% csrf_token %}
                                            											<div class="chat_text_area ml-3">
												<textarea placeholder="Type your message…" name="body" class="chat-footer-text-area"></textarea>
											</div>
											<div class="chat_send">
												<button class="btn btn-link" type="submit">
											<i class="uil uil-message"></i>
												</button>
											</div>
                                           </form>
                                                {% else %}
                                                <p class="" style="display:grid;place-items: center;height: 100%;">This Ticket Was Closed</p>
                                            {% endif %}
										</div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>
</main>
{% endblock %}