{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
{{ user.get_full_name }} profile
{% endblock %}

{% block content %}
<main>

    <section class="user-profile-section">
        <div class="container user-profile__container">

            <div class="card">
                <div class="user-img-box">
                    {% if user.profile %}
                    <img src="{{ user.profile.url }}" alt="{{ user.get_full_name }}'s profile" class="user-img">
                        {% else %}
                        <img src="{% static 'images/user-avatar.jpg' %}" alt="" class="user-img">
                    {% endif %}
                </div>
                <h4 class="user-fullname">{{ user.get_full_name }}</h4>
                {% if user.job %}
                <p class="user-job user-position">{{ user.job }}</p>
                {% endif %}
                {% if user.bio %}
                <p class="bio">{{ user.bio }}</p>
                {% endif %}
                <div class="user-posts__container">
                    <h3 class="user-post-title">{{ user.get_full_name}}'s Posts</h3>
                    {% if user.user_posts %}
                    {% for user_post in user.user_posts.all %}
                    <div class="user-post">
                        <div class="user-post__img-box">
                            <img src="{{ user_post.thumbnail.url }}" alt="{{ user_post.title }}" class="user-post__img">
                        </div>
                        <div class="user-post__detail">
                            <a href="{% url 'blog_app:blog page' user_post.slug %}">
                                <h5 class="user-post__title">{{ user_post.title }}</h5>
</a>
                            <p class="user-post__date">{{ user_post.created|date:'d/m/Y' }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}


                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}