<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<body>
    <nav>
        <div class="container nav__container">
            <a href="index.html" class="nav__logo">EGATOR</a>
            <ul class="nav__items">
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>

                <!-- start login block -->
                <!-- if user not loginned -->
                <li><a href="signin.html">Sign In</a></li>

                <!-- if user loginned -->
                <li class="nav__profile">
                    <div class="avatar">
                        <img src="./images/avatar1.jpg" alt="">
                    </div>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="logout.html">Log Out</a></li>
                    </ul>
                </li>
                <!-- end login block -->

            </ul>

            <button class="" id="open__nav-btn"><i class="uil uil-bars"></i></button>
            <button class="" id="close__nav-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <section class="form__section">
        <div class="container form__section-container">
            <h2>Add Post</h2>
            <div class="alert__message success">
                <p>This is an error message</p>
            </div>
            <form action="" enctype="multipart/form-data">
                <input type="text" placeholder="Title">

                <select >
                    <option value="">Art</option>
                    <option value="">Travel</option>         
                    <option value="">Art</option>
                    <option value="">Travel</option>
                    <option value="">Art</option>
                    <option value="">Travel</option>

                </select>
                <div class="form__control">
                    <label for="thumbnail">Add Thumbnail</label>
                    <input type="file" name="" id="thumbnail">
                </div>
                <textarea name="" id=""  rows="10" placeholder="Body"></textarea>

                <button type="submit" class="btn">Add Post</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer__socials">
            <a href=""><i class="uil uil-youtube"></i></a>
            <a href=""><i class="uil uil-github"></i></a>
            <a href=""><i class="uil uil-linkedin"></i></a>
            <a href=""><i class="uil uil-telegram"></i></a>
            <a href=""><i class="uil uil-youtube"></i></a>
        </div>
        <div class="container footer__container">
            <article>
                <h4>Categories</h4>
                <ul>
                    <li><a href="">Art</a></li>
                    <li><a href="">wild life</a></li>
                    <li><a href="">travel</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">scinse and technology</a></li>
                    <li><a href="">food</a></li>
                </ul>
            </article>
            <article>
                <h4>Support</h4>
                <ul>
                    <li><a href="">outline support</a></li>
                    <li><a href="">call numbers</a></li>
                    <li><a href="">emails</a></li>
                    <li><a href="">social support</a></li>
                    <li><a href="">location</a></li>
                </ul>
            </article>
            <article>
                <h4>Blog</h4>
                <ul>
                    <li><a href="">safety</a></li>
                    <li><a href="">repair</a></li>
                    <li><a href="">recent</a></li>
                    <li><a href="">popular</a></li>
                    <li><a href="">categories</a></li>
                </ul>
            </article>
            <article>
                <h4>Permailinks</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </article>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; Mahdi Malvandi</small>
        </div>
    </footer>


    <script src="main.js"></script>
</body>

</html>