{% load static %}
{% with user=request.user  %}
<div class="header">
			<div class="header-left">
				<div class="menu-icon bi bi-list"></div>
				<div
					class="search-toggle-icon bi bi-search"
					data-toggle="header_search"
				></div>
				<div class="header-search">
					<form action="{% url 'admin_panel:search' %}" method="get">

						<div class="form-group mb-0">
							<i class="dw dw-search2 search-icon"></i>
							<input
								type="search"
								class="form-control search-input"
								placeholder="Search Here"
                                name="query"
                                required
							/>
							<div class="dropdown">
								<a
									class="dropdown-toggle no-arrow"
									href="#"
									role="button"
									data-toggle="dropdown"
								>
									<i class="ion-arrow-down-c"></i>
								</a>
								<div class="dr hid" style="background: #ebebeb;
    position: absolute;
    width: 100%;
    top: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;">
                                    <label>
                                        Type:
                                        <select name="type">
                                                                                <option value="user">User</option>
                                                                                <option value="blog">Blog</option>
                                                                            </select>
                                    </label>


                                    <div class="text-right">
										<button type="submit" class="btn btn-primary">Search</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="header-right">
				<div class="dashboard-setting user-notification">
					<div class="dropdown">
						<a
							class="dropdown-toggle no-arrow"
							href="javascript:;"
							data-toggle="right-sidebar"
						>
							<i class="dw dw-settings2"></i>
						</a>
					</div>
				</div>
				<div class="user-notification">
					<div class="dropdown">
						<a
							class="dropdown-toggle no-arrow"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<i class="icon-copy dw dw-notification"></i>
							<span class="badge notification-active"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="notification-list mx-h-350 customscroll">

								<ul>
                                    {% for room in last_rooms %}
                                    <li>
										<a href="{% url 'admin_panel:room answer' pk=room.pk %}">
                                            {% if room.creator.profile %}
											<img src="{{ room.creator.profile.url }}" alt="{{ room.creator.get_full_name }}" />
                                            {% else %}
											<img src="/images/users_avatar/user-avatar.jpg" alt="{{ room.creator.get_full_name }}" />

                                            {% endif %}
                                            <h3>{{ room.creator.get_full_name }}</h3>
											<p>
                                                {{ room.title|truncatewords:20}}
											</p>
										</a>
									</li>
                                    {% endfor %}

								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a
							class="dropdown-toggle"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<span class="user-icon">
								 {% if user.profile %}
                         <img src="{{ user.profile.url }}" class="h-100" alt="">
                        {% else %}
                            <img src="/images/users_avatar/user-avatar.jpg" class="h-100" alt="">
                        {% endif %}
							</span>
							<span class="user-name">{{ user.get_full_name }}</span>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
						>
							<a class="dropdown-item" href="{% url 'admin_panel:profile' %}"
								><i class="dw dw-user1"></i> Profile</a
							>
							<a class="dropdown-item" href="{% url 'blog_app:log out' %}"
								><i class="dw dw-logout"></i> Log Out</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endwith %}
<script type="text/javascript">
    let searchDrop = document.querySelector('.dropdown-toggle.no-arrow')


    searchDrop.addEventListener('click', e => {
        const ele = document.querySelector('.dr')
        ele.classList.toggle('hid')
    }
    )

</script>