<div class="left-side-bar">
			<div class="brand-logo">
				<a href="index.html">
					<img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
					<img
						src="vendors/images/deskapp-logo-white.svg"
						alt=""
						class="light-logo"
					/>
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
					<ul id="accordion-menu">
						<li>
							<a href="{% url 'admin_panel:home page' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-house"></span
								><span class="mtext">Home</span>
							</a>

						</li>

						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi bi-diagram-3"></span
								><span class="mtext">Users</span>
							</a>
							<ul class="submenu">
								<li><a href="{% url 'admin_panel:users' %}">Show users</a></li>
								<li><a href="add-user.html">Add users</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi bi-textarea-resize"></span
								><span class="mtext">Blogs</span>
							</a>
							<ul class="submenu">
								<li><a href="add-blog.html">Add Blog</a></li>
								<li><a href="blog.html">Blogs</a></li>

							</ul>
						</li>

						<li>
							<a href="category.html" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-table"></span
								><span class="mtext">Category</span>
							</a>

						</li>








						<li>
							<a href="tickets.html" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-chat-right-dots"></span
								><span class="mtext">Tickets
									<img src="vendors/images/coming-soon.png" alt="" width="25">
								</span>
							</a>
						</li>





						<li>
							<!-- website -->
							<a
								href="{% url 'blog_app:home' %}"
								target="_blank"
								class="dropdown-toggle no-arrow"
							>
								<span class="micon bi bi-layout-text-window-reverse"></span>
								<span class="mtext"
									>Website

								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
<div class="mobile-menu-overlay"></div>